holder{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
}

inputholder{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
}

.holder{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputholder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input{
    padding-top: 50px;
    padding-left: 30px;
}

.buttons{
    padding-top: 50px;
    padding-left: 30px;
}

.newuser{
    padding-top: 10px;
}

.error{
    color: red;
}