<div ng-switch="login.service.user.username">
        <div class="holder" ng-switch-when="Login">
                <div class="error">
                    <h3 ng-show="login.isError">user does not exist!</h3>
                </div>
                <div class="inputholder">
                <div class="input">
                    <div class="username"><input type="text" class="form-control" placeholder="Enter Username" ng-model="login.username"></div>
                    <div class="password"><input type="text" class="form-control" placeholder="Enter Password" ng-model="login.password"></div>
                </div>
                <div class="buttons">
                    <div class="login"><button class="btn-primary" ng-click="login.clickLogin()">Log In</button></div>
                    <div class="newuser"><button class="btn-default" ng-click="login.clickNewUser()">New User</button></div>
                </div>
        </div>
    </div>
    <div class="holder" ng-switch-default>
        <h1>you logged in!</h1>
        <button class="btn-primary" ng-click="login.clickLogout()">Log Out</button>
    </div>
</div>

