<flight-map></flight-map>
<div class="info">
    <div class="scrollable">
      <div class="bookings">
        <div class="list-group col-md-12" style="background-color: white">
          <flight-no-book-button class="list-group-item" style="background-color:indianred" ng-repeat="flt in viewbooking.bookings track by $index" flight="flt.flights"></flight-no-book-button>
        </div>
        <div class="nothing" ng-if="viewbooking.bookings.length === 0">
            <p>You haven't booked any flights!</p>
        </div>
      </div>
    </div>
    <div class="stats">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Total flights</th>
                    <th>Total time in the air</th>
                    <th>Unique Destinations</th>
                    <th>Total layovers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{viewbooking.totalflights}}</td>
                    <td>{{viewbooking.timeinair}} hour(s)</td>
                    <td>{{viewbooking.citiesvisitiednorepeat.length}}</td>
                    <td>{{viewbooking.layovers}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>