<flight-map></flight-map>
<div class="holder">
    <div class="flights" ng-switch="bookflight.showAll">
        <div class="list-group col-md-12"  ng-switch-when="all" style="background-color: white">
            <flight class="list-group-item" style="background-color:indianred" ng-repeat="f in bookflight.allflights track by $index" flight="f"></flight>
        </div>
        <div class="list-group col-md-12" ng-switch-when="simplesearch" style="background-color: white">
                <flight class="list-group-item" style="background-color:indianred" ng-repeat="f in bookflight.searchresults track by $index" flight="f"></flight>
        </div>
        <div class="list-group col-md-12" ng-switch-when="complexsearch" style="background-color: white">
                <complex-flight class="list-group-item" style="background-color:indianred" ng-repeat="f in bookflight.searchresults track by $index" flight="f"></complex-flight>
        </div>
        <div ng-if="bookflight.searchresults.length === 0 && (bookflight.showAll === 'simplesearch' || bookflight.showAll === 'complexsearch')">
            <p>nothing found!</p>
        </div>
    </div>
    <div class="searchholder">
        <h5 class="filter">Filter Origin:</h5>
        <select class="selector" ng-model="bookflight.origin">
            <option value="MEMPHIS">Memphis</option>
            <option value="NASHVILLE">Nashville</option>
            <option value="KNOXVILLE">Knoxville</option>
            <option value="CHATTANOOGA">Chattanooga</option>
        </select>
        <h5 class="filter">Filter Destination:</h5>
        <select class="selector" ng-model="bookflight.destination">
            <option value="MEMPHIS">Memphis</option>
            <option value="NASHVILLE">Nashville</option>
            <option value="KNOXVILLE">Knoxville</option>
            <option value="CHATTANOOGA">Chattanooga</option>
        </select>
            <div class="searchbuttons">
                <div class="reset"><button class="btn-default" ng-click="bookflight.reset()">Reset</button></div>
            </div>
    </div>
</div>
