.card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flightbuttons{
    padding-left: 5px;
}

.btn-danger{
    color: gray;
    text-decoration: line-through;
}

.mb-0{
    color: white;
}