<div class="card text-center z-depth-2">
        <div class="card-body">
            <p class="mb-0">origin: {{flightController.flight.origin}} | destination: {{flightController.flight.destination}} |
                            leaves: {{flightController.leaves}}:00 | flight time: {{flightController.flight.flightTime}} hour(s)
            </p>
            <div class="flightbuttons">
                <button class="btn-default" ng-click="flightController.clickView()">View</button>
                <button ng-class="flightController.class" ng-click="flightController.clickBook()"
                        ng-disabled="flightController.userService.user.username === 'Login'">Book</button>
            </div>
        </div>
</div>
