
<div map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyAlKdCy0ocAQ-Y6JXu8EX-g96rUDUYuo1s">
	<ng-map center="{{$mapCtrl.map.center}}" zoom="{{$mapCtrl.map.zoom}}">
	  <marker
	    ng-repeat="$mapMarker in $mapCtrl.map.markers"
	    position="{{$mapMarker.position}}">
	  </marker>
	  <shape
	    ng-repeat="$mapPath in $mapCtrl.map.paths"
	    name="polyline"
	    path="{{$mapPath.path}}"
	    stroke-color="{{$mapPath.strokeColor}}"
	    stroke-opacity="{{$mapPath.strokeOpacity}}"
	    stroke-weight="{{$mapPath.strokeWeight}}"
	    geodesic="{{$mapPath.geodesic}}">
	  </shape>
</ng-map>
</div>
