<div class="card text-center z-depth-2">
        <div class="card-body">
            <div class="textdisplay">
              <div class="mb-0" ng-repeat="f in complexFlightController.flight track by $index">
                origin: {{f.origin}} | destination: {{f.destination}} | leaves: {{complexFlightController.leaves[$index]}} | flight time: {{f.flightTime}} hour(s)
              </div>
            </div>
            <div class="flightbuttons">
                <button class="btn-default" ng-click="complexFlightController.clickView()">View</button>
                <button ng-class="complexFlightController.class" ng-click="complexFlightController.clickBook()"
                        ng-disabled="complexFlightController.userService.user.username === 'Login'">Book</button>
            </div>
        </div>
</div>